# Ignore everything in repository root 
/*

# Files to not ignore
!/.gitignore
!/interpolate_orbits.py
!/find_orbits.py
!/AGORAComparison.py
!/AGORAComparison.yaml
!/requirements.txt
!/LICENSE
# Folder to not ignore
!/galexquared
!/SCRIPTS

# Ignore python cache
*.ipynb
**/__pycache__/
**/.ipynb_checkpoints/
**/*.pyc
**/*.pyo
**/*.log
/SCRIPTS/NOTEBOOKS/

